/* 
Theme Name: Zerif Lite Child  
Theme URL: ""
Description: Zerif Lite Child 
Theme Author: Janelle Giordimaina
Author URL: MCAST
Template: zerif-lite
Version: 1.0.0 

*/

#ribbon_right{
	background: #3AB0E2;
	color:black;
	}

#latestnews{
	background: #272727;
}

#focus{
	background:#3AB0E2;
}

.dark-text{
	color:white !important;
}

.latestnews-title a{
	color: white !important;
}

.latestnews-title a:hover{
	transform: scale(1.5);
}

.btn{
	height: 46px;
	width: 123.95px;
	line-height: 2;
}

.btn:hover{
	background: #272727 !important;
}

button:hover{
	background: #272727 !important;
}


.intro-text{
	text-shadow: 0 0 8px black;
}

.big-intro{
	font-style: oblique;
	font-family:oblique;
}

p{
	text-align: justify !important;
}

button{
	color: white;
}

.woocommerce-Price-amount.amount {
    color: black;
} 

.startshop-button{
	display: inline-block;
	margin: 10px;
	padding: 10px 35px 10px 35px;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
	background: #e96656;
	color:white;
	cursor: pointer;
	text-decoration: none;
}

.has-very-dark-gray-color{
	font-family: oblique;
	font-style:oblique;
	font-size: 30px;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #E7AC44;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.icon-top:hover{
  animation: shake 0.5s;
}

@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}





